<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Test Suite" parallel="tests" thread-count="2" verbose="3" >
    
    <parameter name="EnvironmentURL" value="https://webdriveruniversity.com/index.html" />

    <!--<test name="ChromeTest" >
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="org.example.tests.ContactUsTests" />
        </classes>
    </test>-->

    <test name="EdgeTest" >
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="org.example.tests.ButtonClickTests" />
        </classes>
    </test>

</suite>